Source/WpfActivityReader/ActivityReader.Controls/Service References/OsbideService/OsbideWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OSBIDE.Library.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OSBIDE.Library.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OsbideUser">
    <xs:sequence>
      <xs:element name="_firstName" nillable="true" type="xs:string" />
      <xs:element name="_institutionId" nillable="true" type="xs:string" />
      <xs:element name="_lastName" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_OsbleId_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OsbideUser" nillable="true" type="tns:OsbideUser" />
  <xs:complexType name="EventLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DateReceived" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LogType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventLog" nillable="true" type="tns:EventLog" />
  <xs:complexType name="ArrayOfEventLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventLog" nillable="true" type="tns:EventLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventLog" nillable="true" type="tns:ArrayOfEventLog" />
  <xs:complexType name="ArrayOfOsbideUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OsbideUser" nillable="true" type="tns:OsbideUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOsbideUser" nillable="true" type="tns:ArrayOfOsbideUser" />
</xs:schema>